[submodule "powerline-fonts"]
    path = powerline-fonts
	url = https://github.com/powerline/fonts.git
	branch = master
[submodule "base16-gnome-terminal"]
	path = base16/base16-gnome-terminal
	url = https://github.com/chriskempson/base16-gnome-terminal.git
	branch = master
[submodule "base16-shell"]
	path = base16/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
	branch = master
